
body{
   
}

/* nav-bar */

.settings{
    font-size: 1.5rem;
    margin-top: 10%;
}

.row {
    /* can be removed */
    background-color: red;
    /* border: 0.1rem solid black; */
}

.grid{
    /* can be removed */
    background-color: pink;
    /* border: 0 solid black; */
}

.matrix{
    /* don't  removed */
    display: flex ;
    justify-content: center;
    background-color: white;
}

/* table */
 table{
    margin: 4rem;
    border: 3px solid black; 
}

td{
    /* don't  removed */
    padding-top:  0.5rem;
    padding-bottom: 0.5rem;
    padding-left  : 1rem;
    padding-right: 1rem;
    font-size: 20px;
    border-width:3px ;
}

.info{
    
    /* don't  removed */
    margin-top: 0.5rem;
    float: left;
    color: aliceblue;
}

.play-btn{
    /* don't  removed */
    float: center;
}




