body {
    width: 100%;
}

/* nav-bar */

.settings {
    font-size: 1.5rem;
    margin-top: 10%;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 25px !important;

    letter-spacing: 2px;
    color: white;

    text-shadow: 3px 3px 3px #B2B2B2;
}

.heading-Sudoku {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    letter-spacing: 4px;
    color: #5F9DF7;
    font-weight: 900;
    text-shadow: 1px 1px 2px white, 0 0 25px white , 0 0 5px #010000;
    /* text-shadow: 3px 3px 3px rgb(202, 43, 216); */
}

.row {
    /* can be removed */
    background-color: white;
    /* border: 0.1rem solid black; */
}

.info_btn {
    padding: 0%;
    margin-bottom: 0%;
}

.navbar-div-par {
    /* border: black solid 2px; */
    /* background-color: #5F9DF7; */
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    -webkit-box-shadow: -2px 11px 17px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 11px 17px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 11px 17px -8px rgba(0, 0, 0, 0.75);
}

.Sudoku-div {
    transform: translateX(-50%);
    left: 50%;
    position: absolute; 
    /* border: #5F9DF7 solid 2px; */
    /* float: center; */
}


/* table */

.mid-div-matrix {
    width: 100%;
}

.matrix {
    /* don't  removed */
    display: flex;
    border-radius:15px;
    justify-content: center;
    background-color: white;

    border-radius: 13px 13px 13px 13px;
    -webkit-box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.62);
    -mo-webkit-box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.44);
    box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.44);
}

/* table */
table {
    margin: 4rem;
    border: 3px solid black;
    /* border-radius: 10px; */
    
    border-radius: 13px 13px 13px 13px;
    -webkit-box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.62);
    -mo-webkit-box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.44);
    box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.44);
}

td {
    width: 2rem;
    height: 2rem;
    font-size: 20px;
    background-color: #EEEEEE;
    /* border-radius: 10px; */
}

.fxd {
    margin: 0;
    padding: 0;
    /* width: 35px; */
    font-weight: 650;
    border-width: 3px;
}

input {
    width: 2rem;
    height: 2rem;
    border: 0px;
    font-size: 20px;
    text-align: center;
    /* padding-left: 2px; */
    font-weight: 650;
    color: blue;
    margin: 0px;

}

#kr {
    background-color: yellowgreen;
}

/* table ends here */


.info {

    /* don't  removed */
    margin-top: 0.5rem;
    float: left;
    color: aliceblue;
}


.play-btn {
    /* don't  removed */
    float: center;
}


/* row -> timer , mode , mistakes */

.timer-mode-mistakes-head {
    /* border: solid 2px black; */
    display: flex;
    padding: 0 4rem;
    margin: 1rem;
    justify-content: space-between;
}

.row_t_m_m {
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .timer-mode-mistakes-head {
        padding: 0 2rem;
    }
    .Sudoku-div {
        position: sticky;
    }
    .navbar-brand {
        font-family: 'Lobster', cursive;
        font-size: 20px !important;
    
        letter-spacing: 2px;
        color: white; 
        text-shadow: 3px 3px 3px #B2B2B2;
    }
    
    .heading-Sudoku {
        font-family: 'Lobster', cursive;
        font-size: 20px;
        color: #5F9DF7;
         font-weight: 900;
        text-shadow: 1px 1px 2px white, 0 0 25px white , 0 0 5px #010000;
        /* text-shadow: 3px 3px 3px rgb(202, 43, 216); */
    }

}



/* lower-pannel css */
.lower-pannel {
    margin-top: 1rem;
}

/* footer design */

.footer-div{
    -webkit-box-shadow: 1px 4px 30px 19px rgba(0,0,0,0.14);
    -moz-box-shadow: 1px 4px 30px 19px rgba(0,0,0,0.14);
    box-shadow: 1px 4px 30px 19px rgba(0,0,0,0.14);
}

/* bg-secondary */

.bg-sec{
    background-color: #6c757d;
}